#######################################
# Python
#######################################

__pycache__/
*.py[cod]
*.pyo
*.pyd

#######################################
# Virtual Environment
#######################################

venv/
.venv/

#######################################
# Environment
#######################################

.env

#######################################
# Database
#######################################

*.db
*.sqlite
*.sqlite3

#######################################
# Logs
#######################################

logs/
*.log

#######################################
# Runtime Data
#######################################

data/

#######################################
# IDE
#######################################

.vscode/
.idea/

#######################################
# OS
#######################################

.DS_Store
Thumbs.db

#######################################
# Python Build
#######################################

build/
dist/
*.egg-info/

#######################################
# Temporary Files
#######################################

*.tmp
*.bak
*.swp
*.swo

#######################################
# Coverage
#######################################

.coverage
.pytest_cache/
htmlcov/

#######################################
# Jupyter
#######################################

.ipynb_checkpoints/

agentGinn.md